
<!DOCTYPE HTML>
<html>
  <head>
    <title>uploadForm</title>
  </head>

  <body>

    <h2>Upload Form</h2>
    {% with messages = get_flashed_messages() %}
         {% if messages %}
               {% for message in messages %}
               <p>{{ message }}</p>
               {% endfor %}
         {% endif %}
      {% endwith %}

     <form id="form" enctype="multipart/form-data" method="post" action="">
       User ID <input type="string" name="userID"><br />
       Password <input type="password" name="password"><br />
   	What is the image files to upload? <input type="file" name=uploadedfile><br />
   	<input type="submit" value="Upload">
	<input type="reset">
    </form>
  </body>
</html>
