{% extends "index.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='./css/thumbnail-gallery.css') }}">
{% endblock %}
  <body>
{% block content %}
    <!-- Page Content -->
    <div class="container">
      <h1 class="my-4 text-center text-lg-left">Photo Gallery</h1>
                {% with messages = get_flashed_messages() %}
         {% if messages %}
               {% for message in messages %}
               <p>{{ message }}</p>
               {% endfor %}
         {% endif %}
      {% endwith %}
      <div class="row text-center text-lg-left">
          <br>
          {%for name in filename%}
        <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="static/images/{{name[0]}}" data-lightbox="{{name}}" data-title="Please click on left or right side to view transformations.">
            <img class="img-fluid img-thumbnail" src="static/images/{{name[0]|thumbnail('400x300',crop='fit')}}" alt="">
          </a>
            <a href="static/images/{{name[1]}}" data-lightbox="{{name}}" data-title="Please click on left or right side to view transformations.">
            <img style="display:none" src="static/images/{{name[1]}}" alt="">
          </a>
            <a href="static/images/{{name[2]}}" data-lightbox="{{name}}" data-title="Please click on left or right side to view transformations.">
            <img style="display:none" src="static/images/{{name[2]}}" alt="">
          </a>
            <a href="static/images/{{name[3]}}" data-lightbox="{{name}}" data-title="Please click on left or right side to view transformations.">
            <img style="display:none" src="static/images/{{name[3]}}" alt="">
          </a>

        </div>
          {%endfor%}
      </div>
    </div>
    <!-- /.container -->
{% endblock %}
